/* Обнулення */
@import "nullstyle.scss";
// border: 1px solid orange;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
/*  */
/*  */
/*  */
/*  */
/*  */
/* content__article */
.content__article {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 180px calc(10px + (80 - 10) * ((100vw - 320px) / (2560 - 320))) 80px calc(10px + (80 - 10) * ((100vw - 320px) / (2560 - 320)));
	.article__slider {
		width: 500px;
		height: 100%;
		.big-slider {
			height: 100%;
			.slider__wrapper {
				height: 100%;
				.slider__slide {
					height: 100%;
					img {
						width: 100%;
						height: 100%;
					}
				}
			}
			.slider__button-prev {
				left: 15px;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				backdrop-filter: blur(10px);
				box-shadow: 0 3px 10px rgba(0,0,0,0.5);
				img {
					width: 80%;
					height: 60%;
					opacity: 0.5;
					transition: 0.3s;
					pointer-events: none;
				}
			}
			.slider__button-next {
				right: 15px;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				backdrop-filter: blur(10px);
				box-shadow: 0 3px 10px rgba(0,0,0,0.5);
				img {
					width: 80%;
					height: 60%;
					opacity: 0.5;
					transition: 0.3s;
					pointer-events: none;
				}
			}
			.slider__button-prev:hover {
				img {
					opacity: 1;
				}
			}
			.slider__button-next:hover {
				img {
					opacity: 1;
				}
			}
			.slider__button-prev:after {
				font-size: 0;
			}
			.slider__button-next:after {
				font-size: 0;
			}
			.slider__pagination {
				font-family: 'Source Sans Pro', sans-serif;
				font-size: 20px;
				color: #fff;
			}
		}
	}
	.article__description {
		width: 50%;
		padding: 0 10px;
		.article__item {
			display: flex;
			padding: 10px;
			border-bottom: 1px solid rgba(0,0,0,0.2);
			p {
				margin: 0 10px 0 0;
				font-family: 'Open Sans', sans-serif;
				font-size: 20px;
				font-weight: 300;
				line-height: 120%;
				letter-spacing: 0.05em;
			}
		}
		.article__title {
			p {
				font-weight: bold;
			}
		}
	}
	.article__price {
		position: absolute;
		bottom: 20px;
		a {
			display: flex;
			padding: 10px;
			transition: 0.3s;
			border-radius: 20px;
			background: #f84147;
			h4 {
				margin: 0 10px 0 0;
				transition: 0.3s;
				font-family: 'Open Sans', sans-serif;
				font-size: 20px;
				font-weight: 400;
				letter-spacing: 0.05em;
				color: #fff;
			}
			h5 {
				transition: 0.3s;
				font-family: 'Open Sans', sans-serif;
				font-size: 20px;
				font-weight: 400;
				letter-spacing: 0.05em;
				color: #000;
			}
		}
		a:hover {
			background: #ec252b;
			h4 {
				color: #000;
			}
			h5 {
				color: #fff;
			}
		}
	}
}
/* content__goods */
.content__goods {
	display: flex;
	width: 100%;
	padding: 0 calc(10px + (80 - 10) * ((100vw - 320px) / (2560 - 320)));
	.goods__sorting {
		position: sticky;
		top: 150px;
		width: 15%;
		height: 200px;
		padding: 50px 10px 50px 0;
		.goods__check {
			font-family: 'Open Sans', sans-serif;
			font-size: 20px;
			font-weight: 400;
			letter-spacing: 0.05em;
			color: #333b46;
			.goods__checkbox {
				position: relative;
				width: 25px;
				height: 25px;
				margin: 0 0 5px 0;
				cursor: pointer;
				opacity: 0;
				z-index: 1;
				border-radius: 4px;
			}
			.goods__checkbox + label {
				position: absolute;
				padding: 3px 0 0 10px;
			}
			.goods__checkbox + label:before {
				content: '';
				position: absolute;
				top: 0;
				left: -25px;
				width: 25px;
				height: 25px;
				transition: 0.3s;
				border-radius: 4px;
				background: #92969c;
			}
			.goods__checkbox:checked + label:before {
				border: 0;
				background:  #00a046 url('../img/checked.svg') no-repeat;
				background-size: 80%;
				background-position: center;
			}
		}
	}
	.goods__items {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		min-height: 100px;
		margin: 0 auto;
		padding: 50px 0;
		border-left: 1px solid rgba(0,0,0,0.2);
		.goods__item {
			position: relative;
			display: none;
			flex: 0 1 25%;
			max-height: 600px;
			padding: 10px;
			transition: 0.3s;
			border-right: 1px solid rgba(0,0,0,0.2);
			border-bottom: 1px solid rgba(0,0,0,0.2);
			.goods__img {
				img {
					max-width: 100%;
				}
			}
			.goods__title {
				h2 {
					margin: 10px 0 30px 0;
					font-family: 'Source Sans Pro', sans-serif;
					font-size: 20px;
					line-height: 120%;
					font-weight: 300;
					letter-spacing: 0.1em;
					color: #333b46;
				}
			}
			.goods__price {
				position: absolute;
				left: 10px;
				bottom: 10px;
				h3 {
					font-family: 'Open Sans', sans-serif;
					font-size: 20px;
					font-weight: 400;
					letter-spacing: 0.05em;
					color: #f84147;
				}
			}
		}
		.goods__item:hover {
			box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
		}
	}
}
.content__goods.gallery {
	padding: 160px calc(10px + (80 - 10) * ((100vw - 320px) / (2560 - 320)));
}
.content__goods.w30cm {
	.goods__item.w30cm {
		display: block !important;
	}
}
.content__goods.w20cm {
	.goods__item.w20cm {
		display: block !important;
	}
}
.content__goods.w10cm {
	.goods__item.w10cm {
		display: block !important;
	}
}
/* content__description */
.content__description {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	background: url('../img/back.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	.description__background {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		padding: 160px calc(10px + (80 - 10) * ((100vw - 320px) / (2560 - 320)));
		background: rgba(0,0,0,0.5);
		.description__title {
			p {
				font-family: 'Source Sans Pro';
				font-size: 35px;
				font-weight: 300;
				text-transform: uppercase;
				letter-spacing: 0.2em;
				color: #fff;
			}
		}
		.description__text {
			width: 80%;
			p {
				margin: 35px 0;
				font-family: 'Open Sans', sans-serif;
				font-size: 18px;
				line-height: 28px;
				font-weight: 400;
				letter-spacing: 0.05em;
				color: #fff;
			}
		}
		.description__link {
			width: 100%;
			a {
				padding: 10px 20px;
				font-family: 'Open Sans', sans-serif;
				font-size: 20px;
				font-weight: 400;
				border-radius: 20px;
				transition: 0.3s;
				color: #fff;
				border: 1px solid #fff;
			}
			a:hover {
				color: #000;
				background: #fff;
			}
		}
	}
}
/* header */
#header {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 70px;
	padding: 0 calc(10px + (80 - 10) * ((100vw - 320px) / (2560 - 320)));
	transition: 0.3s;
	z-index: 1000;
	.header__logo {
		a {
			transition: 0.3s;
			border-radius: 50%;
			transform: translateY(30px);
			img {
				height: 180px;
				border-radius: 50%;
				transition: 0.3s;
				filter: invert(100%);
			}
		}
		a:hover {
			animation: logo 0.5s linear;
		}
		@keyframes logo {
			0% {
				transform: translateY(30px) translateX(5px);
			}
			25% {
				transform: translateY(30px) translateX(-5px);
			}
			50% {
				transform: translateY(30px) translateX(5px);
			}
			75% {
				transform: translateY(30px) translateX(-5px);
			}
			100% {
				transform: translateY(30px) translateX(0px);
			}
		}
	}
	.header__menu {
		a {
			margin: 0 5px;
			padding: 10px 20px;
			font-family: 'Open Sans', sans-serif;
			font-size: 20px;
			font-weight: 300;
			transition: 0.3s;
			border-radius: 20px;
			color: #fff;
			border: 1px solid #fff;
		}
		a:hover {
			color: #000;
			background: #fff;
		}
	}
	.header__contacts {
		a {
			margin: 0 5px;
			padding: 10px 20px;
			font-family: 'Open Sans', sans-serif;
			font-size: 20px;
			font-weight: 300;
			transition: 0.3s;
			border-radius: 20px;
			color: #fff;
			border: 1px solid #fff;
		}
		a:hover {
			color: #000;
			background: #fff;
		}
	}
	.header__menu-burger {
		display: none;
	}
}
#header.black {
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	.header__logo {
		a {
			box-shadow: 0 5px 10px rgba(0,0,0,0.2);
			background: #fff;
			img {
				filter: invert(0%);
			}
		}
	}
	.header__menu {
		a {
			color: #000;
			border: 1px solid #000;
		}
		a:hover {
			color: #fff;
			background: #000;
		}
	}
	.header__contacts {
		a {
			color: #000;
			border: 1px solid #000;
		}
		a:hover {
			color: #fff;
			background: #000;
		}
	}
}
#header.out {
	transform: translateY(-100%);
	opacity: 0;
	pointer-events: none;
}
#header.scroll {
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	background: #fff;
	.header__logo {
		a {
			box-shadow: 0 5px 10px rgba(0,0,0,0.2);
			background: #fff;
			img {
				filter: invert(0%);
			}
		}
	}
	.header__menu {
		a {
			color: #000;
			border: 1px solid #000;
		}
		a:hover {
			color: #fff;
			background: #000;
		}
	}
	.header__contacts {
		a {
			color: #000;
			border: 1px solid #000;
		}
		a:hover {
			color: #fff;
			background: #000;
		}
	}
}
/* OTHER */
// font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (2560 - 320)));
img {
	object-fit: cover;
}
a {
	display: inline-block;
}
a:hover,a:active {

}
a.active {
	
}
body {
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	color: #000;
	background: #fff;
}
html {
	background: #fff;
}
/* OTHER */
@media (max-width: 768px) {
	.header {
		height: 50px;
		transition: 0.1s;
		.header__block {
			justify-content: center;
			.header__menu {
				display: none;
			}
			.header__menu-burger {
				display: inline-block;
				position: absolute;
				right: 20px;
				top: 14px;
				width: 30px;
				height: 20px;
				cursor: pointer;
				span {
					position: absolute;
					width: 100%;
					height: 2px;
					top: 9px;
					background-color: #000;
				}
			}
			.header__menu-burger:before, .header__menu-burger:after {
				content: '';
				background-color: #000;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				transition: 0.3s;
			}
			.header__menu-burger:before {
				top: 2px;
			}
			.header__menu-burger:after {
				bottom: 2px;
			}
		}
	}
	.header.active {
		position: fixed;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		.header__block {
			.header__menu-burger {
				span {
					display: none;
				}
			}
			.header__menu-burger:before {
				transform: rotate(45deg);
				top: 9px;
			}
			.header__menu-burger:after {
				transform: rotate(-45deg);
				bottom: 9px;
			}
			.header__menu {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin: 20px 0 0 0;
				a {
					margin: 0 0 20px 0;
				}
			}
		}
	}
	body.active {
		overflow-x: hidden;
		overflow-y: hidden;
	}
}